<div id="video-cv"
  class="flex flex-col sm:flex sm:flex-row-reverse sm:w-[1140px] gap-x-9 my-6 items-center justify-self-center justify-between mx-auto">
  <!-- left side  -->
  <div class="sm:w-[564px] w-[267px]">
    <img class="w-16 h-16 mb-5 hover:border-inherit flex justify-self-center sm:flex sm:justify-self-start"
      src="icons-png/video_resume_img.png" alt="" />
    <!-- title  -->
    <div class="flex justify-between items-center mb-3 sm:mb-4">
      <div>
        <h1 class="text-black font-inter text-2xl font-bold leading-none">
          Video CV
        </h1>
      </div>
      <div class="flex items-center gap-x-md text-[#004DB3]">
        <img class="px-2" src="icons/youtube.svg" alt="" />
        <p class="font-semibold text-sm">See Video</p>
      </div>
    </div>
    <!-- discription  -->
    <p class="pb-10 text-justify">
      This is a short video where job seekers can present their educational
      qualifications, skills and experience to the employer by answering some of
      the questions prescribed by bdjobs. You can edit and delete recorded video
      at any time.
    </p>

    <div class="flex sm:flex sm:justify-start justify-center sm:text-start text-center">
      <span class="pr-3 cursor-pointer flex items-center gap-x-1" (click)="next()"><span>Next</span> <span
          class="icon-angle-down text-sm"></span></span>
      <span class="pr-3 cursor-pointer flex items-center gap-x-1" (click)="prev()"><span>Prev</span> <span
          class="icon-angle-up text-sm"></span></span>
    </div>
  </div>
  <!-- right side  -->
  <div class="py-4 sm:p-0">
    <img class="w-[262px] h-[156px] sm:min-w-[560px] sm:h-[330px] transition-all hover:drop-shadow-2xl"
      src="images/video_resume.jpg" alt="" />
  </div>
</div>