<!-- pro card  start -->
<div id="bdj-pro-sub-features-parent" class="bdj-pro-sub-features-parent flex">
  <!-- absulate button  -->
  <img
    #leftBtn
    (click)="scrollLeft()"
    id="leftArrow"
    src="/icons/arrowLeft.svg"
    alt="Left Arrow"
    class=""
  />

  <div
    #featureContainer
    class="inner-container bdj-pro-sub-features gap-x-2 sm:max-w-[1231px] relative overflow-x-auto -left-[70px] scroll-smooth bg-yellow-400"
  >
    <!-- 1 -->
    <div
      class="bdj-pro-card flex flex-col flex-1 p-4 rounded-md border border-gray-300 bg-white min-w-72 min-h-80"
    >
      <!-- here is the code should write  -->

      <div class="bdj-pro-sub-img">
        <img src="/images/bdj-sub-Application-insight.png" alt="" />
      </div>
      <div>
        <div class="flex">
          <img
            src="/icons/bdj-sub-icon-Application-Insight.png"
            alt=""
            class="bdj-pro-sub-icon"
          />
          <h1 class="bdj-pro-sub-title">
             Application InSight
          </h1>
        </div>
        <div class="">
          <p id="bdj-pro-sub-description" class="bdj-pro-sub-description">
            Direct Message to employer is a feature that allows Bdjobs Pro users
            to directly reach out to potential employers through private
            messages. It helps job seekers introduce themselves, showcase
            qualifications, and make personal connections to improve their
            chances of being noticed and shortlisted.
          </p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div
      class="bdj-pro-card flex flex-col flex-1 p-4 rounded-md border border-gray-300 bg-white min-w-72 min-h-80"
    >
      <!-- here is the code should write  -->
      <div class="bdj-pro-sub-img">
        <img src="/images/bdj-sub-Boost-Application.png" alt="" />
      </div>
      <div>
        <div class="flex">
          <img
            src="/icons/bdj-sub-icon-Boost-Application.png"
            alt=""
            class="bdj-pro-sub-icon"
          />
          <h1 class="bdj-pro-sub-title">Application Boosting</h1>
        </div>
        <div class="">
          <p id="bdj-pro-sub-description" class="bdj-pro-sub-description">
            Application Boosting is a powerful feature that moves the
            application to a higher position in the employer's list, making it
            more prominent and easier to notice. This increased visibility helps
            users stand out among other candidates, significantly improving
            their chances of catching the employer's attention.
          </p>
        </div>
      </div>
    </div>
    <!-- 3  -->
    <div
      class="bdj-pro-card flex flex-col flex-1 p-4 rounded-md border border-gray-300 bg-white min-w-72 min-h-80"
    >
      <div class="bdj-pro-sub-img">
        <img src="/images/bdj-sub-Direct-Message.png" alt="" />
      </div>
      <div>
        <div class="flex">
          <img
            src="/icons/bdj-sub-icon-Direct-Message.png"
            alt=""
            class="bdj-pro-sub-icon"
          />
          <h1 class="bdj-pro-sub-title">Early Access Job</h1>
        </div>
        <div class="">
          <p id="bdj-pro-sub-description" class="bdj-pro-sub-description">
            Direct Message to employer is a feature that allows Bdjobs Pro users
            to directly reach out to potential employers through private
            messages. It helps job seekers introduce themselves, showcase
            qualifications, and make personal connections to improve their
            chances of being noticed and shortlisted.
          </p>
        </div>
      </div>
    </div>
    <!-- 4  -->
    <div
      class="bdj-pro-card flex flex-col flex-1 p-4 rounded-md border border-gray-300 bg-white min-w-72 min-h-80"
    >
      <div class="bdj-pro-sub-img">
        <img src="/images/bdj-sub-Application-insight.png" alt="" />
      </div>
      <div>
        <div class="flex">
          <img
            src="/icons/bdj-sub-icon-Application-Insight.png"
            alt=""
            class="bdj-pro-sub-icon"
          />
          <h1 class="bdj-pro-sub-title">Matching Percentage</h1>
        </div>
        <div class="">
          <p id="bdj-pro-sub-description" class="bdj-pro-sub-description">
            Direct Message to employer is a feature that allows Bdjobs Pro users
            to directly reach out to potential employers through private
            messages. It helps job seekers introduce themselves, showcase
            qualifications, and make personal connections to improve their
            chances of being noticed and shortlisted.
          </p>
        </div>
      </div>
    </div>
    <!-- 5  -->
    <div
      class="bdj-pro-card flex flex-col flex-1 p-4 rounded-md border border-gray-300 bg-white min-w-72 min-h-80"
    >
      <div class="bdj-pro-sub-img">
        <img src="/images/bdj-sub-Application-insight.png" alt="" />
      </div>
      <div>
        <div class="flex">
          <img
            src="/icons/bdj-sub-icon-Direct-Message.png"
            alt=""
            class="bdj-pro-sub-icon"
          />
          <h1 class="bdj-pro-sub-title">Direct Message</h1>
        </div>
        <div class="">
          <p id="bdj-pro-sub-description" class="bdj-pro-sub-description">
            Direct Message to employer is a feature that allows Bdjobs Pro users
            to directly reach out to potential employers through private
            messages. It helps job seekers introduce themselves, showcase
            qualifications, and make personal connections to improve their
            chances of being noticed and shortlisted.
          </p>
        </div>
      </div>

      <!-- 5 end -->
    </div>
  </div>

  <img
    #rightBtn
    (click)="scrollRight()"
    id="rightArrow"
    src="/icons/arrowRight.svg"
    alt="Left Arrow"
    class="cursor-pointer relative -left-24 z-10"
  />
</div>

<!-- pro card  start -->

<section
  class="group transform origin-center hover:scale-[1.05] transition-transform duration-300 ease-linear rounded-lg"
>
  <!-- img container      -->
  <div
    class="rounded-t-lg transform transition-transform duration-600 ease-in-out max-w-[342px] group-hover:max-w-[372px] min-h-[140px] group-hover:max-h-[200px] overflow-clip"
  >
    <img
      src="/images/bdj-sub-Application-insight.png"
      class="w-full h-full object-contain object-contain transition-all duration-500 ease-in-out"
      alt=""
    />
  </div>

  <!-- details container  -->
  <div class="border-2 border-t-0 transition-all duration-300 ease-linear">
    <div class="flex items-center mb-4 transition-all duration-500 ease-in-out">
      <img
        src="/icons/bdj-sub-icon-Application-Insight.png"
        class="w-10 h-10 transition-transform duration-500 ease-in-out group-hover:scale-110"
        alt=""
      />
      <div
        class="ml-4 text-base font-medium transition-all duration-500 ease-in-out group-hover:tracking-wide"
      >
        Application InSight
      </div>
    </div>
    <p
      class="w-[300px] h-[158px] group-hover:w-[340px] group-hover:h-[174px] overflow-hidden transition-all duration-500 ease-in-out text-sm leading-relaxed"
    >
      Direct Message to employer is a feature that allows Bdjobs Pro users to
      directly reach out to potential employers through private messages. It
      helps job seekers introduce themselves, showcase qualifications, and make
      personal connections to improve their chances of being noticed and
      shortlisted.
    </p>
  </div>
</section>
