<swiper-container class="" loop="true" navigation="true">
  <swiper-wraper class="flex" >
    <swiper-slide>
      <div
        class="group top-0 p-4 w-[284px] h-[332px] hover:min-w-[448px] hover:h-[492px] bg-orange-400 transition-all duration-300 ease-in-out -translate-y-20"
      >
        <img
          class="w-[252px] h-[150px] mb-6 group-hover:w-[416px] group-hover:h-[250px] transition-all duration-300 ease-in-out"
          src="/images/bdj-sub-Application-insight.png"
          alt=""
        />

        <div class="flex gap-2 items-center mb-3">
          <img
            class="h-5 w-5 group-hover:w-7 group-hover:h-7 transition-all duration-300 ease-in-out"
            src="/icons/bdj-sub-icon-Application-Insight.png"
            alt=""
          />
          <h1
            class="text-[#212121] text-center font-inter text-base font-bold leading-none group-hover:text-2xl transition-all duration-300 ease-in-out"
          >
            Application InSight
          </h1>
        </div>
        <div
          class="w-[252px] h-[84px] overflow-hidden text-ellipsis group-hover:w-full group-hover:h-[144px] transition-all duration-300 ease-in-out"
        >
          <p class="text-sm group-hover:text-lg">
            Direct Message to employer is a feature that allows Bdjobs Pro users
            to directly reach out to potential employers through private
            messages. It helps job seekers introduce themselves, showcase
            qualifications, and make personal connections to improve their
            chances of being noticed and shortlisted.
          </p>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div
        class="group top-0 p-4 w-[284px] h-[332px] hover:min-w-[448px] hover:h-[492px] bg-orange-400 transition-all duration-300 ease-in-out -translate-y-20"
      >
        <img
          class="w-[252px] h-[150px] mb-6 group-hover:w-[416px] group-hover:h-[250px] transition-all duration-300 ease-in-out"
          src="/images/bdj-sub-Application-insight.png"
          alt=""
        />

        <div class="flex gap-2 items-center mb-3">
          <img
            class="h-5 w-5 group-hover:w-7 group-hover:h-7 transition-all duration-300 ease-in-out"
            src="/icons/bdj-sub-icon-Application-Insight.png"
            alt=""
          />
          <h1
            class="text-[#212121] text-center font-inter text-base font-bold leading-none group-hover:text-2xl transition-all duration-300 ease-in-out"
          >
            Application InSight
          </h1>
        </div>
        <div
          class="w-[252px] h-[84px] overflow-hidden text-ellipsis group-hover:w-full group-hover:h-[144px] transition-all duration-300 ease-in-out"
        >
          <p class="text-sm group-hover:text-lg">
            Direct Message to employer is a feature that allows Bdjobs Pro users
            to directly reach out to potential employers through private
            messages. It helps job seekers introduce themselves, showcase
            qualifications, and make personal connections to improve their
            chances of being noticed and shortlisted.
          </p>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div
        class="group top-0 p-4 w-[284px] h-[332px] hover:min-w-[448px] hover:h-[492px] bg-orange-400 transition-all duration-300 ease-in-out -translate-y-20"
      >
        <img
          class="w-[252px] h-[150px] mb-6 group-hover:w-[416px] group-hover:h-[250px] transition-all duration-300 ease-in-out"
          src="/images/bdj-sub-Application-insight.png"
          alt=""
        />

        <div class="flex gap-2 items-center mb-3">
          <img
            class="h-5 w-5 group-hover:w-7 group-hover:h-7 transition-all duration-300 ease-in-out"
            src="/icons/bdj-sub-icon-Application-Insight.png"
            alt=""
          />
          <h1
            class="text-[#212121] text-center font-inter text-base font-bold leading-none group-hover:text-2xl transition-all duration-300 ease-in-out"
          >
            Application InSight
          </h1>
        </div>
        <div
          class="w-[252px] h-[84px] overflow-hidden text-ellipsis group-hover:w-full group-hover:h-[144px] transition-all duration-300 ease-in-out"
        >
          <p class="text-sm group-hover:text-lg">
            Direct Message to employer is a feature that allows Bdjobs Pro users
            to directly reach out to potential employers through private
            messages. It helps job seekers introduce themselves, showcase
            qualifications, and make personal connections to improve their
            chances of being noticed and shortlisted.
          </p>
        </div>
      </div>
    </swiper-slide>
  </swiper-wraper>
  <!--
  <button>
    <img
      #leftBtn
      id="leftArrow"
      src="/icons/arrowRight.svg"
      alt="Left Arrow"
      class=""
    />
  </button> -->
</swiper-container>
