<div id="{{featureId()}}"
    class="relative flex flex-col lg:flex-row w-full max-w-[1140px] mx-auto gap-8 lg:px-0 lg:h-[330px] lg:py-0 pt-3 pb-0 px-0 md:p-4"
    [class.z-[20]]="!isHover()" [class.z-[1]]="isHover()">
    <div class="md:flex {{imageRight() ? 'flex-row-reverse' : 'flex-row'}} gap-8">
        <div class="w-full lg:max-w-[564px] flex flex-col items-center md:items-start">
            <img class="w-10 h-10 md:w-16 md:h-16 mb-0 mx-auto md:mx-0 transition-transform hover:scale-105"
                src="{{featureIcon()}}" alt="{{featureHeading()}}" />
            <div class="flex justify-between items-center w-full mb-3">
                <h1
                    class="text-[#212121] not-italic font-inter md:text-2xl md:font-bold text-base font-semibold leading-6 text-center md:text-left w-full md:w-auto">
                    {{featureHeading()}}
                </h1>
                @if(!showVideoCv()){
                <a [href]="featureLink()" target="_blank"
                    class="hidden md:flex items-center text-[#004DB3] hover:underline">
                    <p class="font-semibold text-sm">More</p>
                    <img class="px-2" src="icons/arrow-right.svg" alt="" />
                </a>
                } @else {
                <div class="hidden md:flex items-center gap-x-md text-[#004DB3]">
                    <img class="px-2" src="icons/youtube.svg" alt="" />
                    <p class="font-semibold text-sm">See Video</p>
                </div>
                }
            </div>
            <p
                class="font-inter text-[12px] leading-4 text-center md:text-justify text-gray-700 leading-relaxed text-sm md:text-base">
                {{featureDescription()}}
            </p>
            @if(false){
            <div class="w-full max-w-[1140px] mt-4 flex gap-4 justify-center lg:justify-start md:justify-center 
                            relative px-4 lg:px-0 index">
                @if(nextSection()){
                <span
                    class="cursor-pointer flex items-center gap-x-1 group text-gray-600 hover:text-blue-600 font-medium"
                    (click)="next()">
                    <span>Next</span>
                    <span class="icon-angle-down text-sm transition-transform group-hover:translate-x-1"></span>
                </span>
                }
                @if (prevSection()) {
                <span
                    class="cursor-pointer flex items-center gap-x-1 group text-gray-600 hover:text-blue-600 font-medium"
                    (click)="prev()"><span>Prev</span> <span class="icon-angle-up text-sm"></span></span>
                }
            </div>
            }
        </div>
        <div class="w-full lg:w-auto flex justify-center pt-3 md:pt-0">
            <img class="w-full lg:max-w-[560px] h-auto object-cover rounded-lg transition-all hover:drop-shadow-2xl"
                src="{{featureImage()}}" alt="Bdjobs Pro Banner" />
        </div>
        @if(!showVideoCv()){
        <a href="{{featureLink()}}" target="_blank"
            class="py-[8px] relative flex items-center justify-center text-[#004DB3] hover:underline md:hidden z-[50]">
            <p class="font-semibold text-sm">More</p>
            <img class="px-2" src="icons/arrow-right.svg" alt="" />
        </a>
        } @else {
        <div class="py-[8px] relative flex items-center justify-center gap-x-md text-[#004DB3] md:hidden z-[50]">
            <img class="px-2" src="icons/youtube.svg" alt="" />
            <p class="font-semibold text-sm">See Video</p>
        </div>
        }
    </div>
</div>
@if(showCarousel()){
<section class="relative z-[10] min-h-[332px] flex align-items items-center justify-center my-8 px-0 md:px-4">
    <div class="w-full max-w-[1160px] mx-auto relative" style="height: fit-content;">
        <app-carousel-card-list (isHover)="trackHover($event)"></app-carousel-card-list>
    </div>
</section>

}