<!-- <div class="bg-white">
  <app-header></app-header>
  <div class="relative z-[9999] px-4 lg:px-0" style="margin-top: 1.5rem;">
    <app-bdjobs-pro></app-bdjobs-pro>
  </div>

  <div class="bg-[#EEEEEE] py-5">
    <app-manage-profile></app-manage-profile>
  </div>

  <div>
    <app-my-dashboard></app-my-dashboard>
  </div>
  <div class="bg-[#EEEEEE] py-5">
    <app-video-cv></app-video-cv>
  </div>
  <div>
    <app-customized-cv></app-customized-cv>
  </div>
  <div class="bg-[#EEEEEE] py-5">
    <app-emailed-cv></app-emailed-cv>
  </div>

  <div>
    <app-live-interview></app-live-interview>
  </div>

  <div class="bg-[#EEEEEE] py-5">
    <app-video-interview></app-video-interview>
  </div>
  <div>
    <app-general-interview></app-general-interview>
  </div>

  <div class="bg-[#EEEEEE] py-5">
    <app-online-test></app-online-test>
  </div>
  <div>
    <app-ai-assesment></app-ai-assesment>
  </div>
  <div class="bg-[#EEEEEE] py-5">
    <app-applied-jobs></app-applied-jobs>
  </div>
  <div>
    <app-shortlisted-job></app-shortlisted-job>
  </div>

  <div class="bg-[#EEEEEE] py-5">
    <app-following-employer></app-following-employer>
  </div>

  <div>
    <app-my-points></app-my-points>
  </div>
  <div class="bg-[#EEEEEE] py-5">
    <app-employer-activity></app-employer-activity>
  </div>

  <div><app-favourite-search></app-favourite-search></div>
  <div class="bg-[#EEEEEE] py-5"><app-sms-job-alert></app-sms-job-alert></div>
  <div><app-advanced-job-search-filter></app-advanced-job-search-filter></div>
  <div class="bg-[#EEEEEE] py-5">
    <app-profile-preference></app-profile-preference>
  </div>

  <div><app-easy-apply></app-easy-apply></div>
  <div class="bg-[#EEEEEE] py-5">
    <app-see-training-details></app-see-training-details>
  </div>
</div> -->

<router-outlet></router-outlet>